<h1>
  {{ isEdit() ? 'Editar' : 'Crear' }}
  Superhéroe
  @if (isEdit()) {
    <span>{{ superheroForm.get('name')?.value | uppercase }}</span>
  }
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="row">

  <div class="col-12 col-md-6">
    <mat-card>
      <mat-card-content>

        <form [formGroup]="superheroForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-12 col-md-6 px-1">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              formControlName="name"
              />
          </mat-form-field>

          <mat-form-field class="col-12 col-md-6 px-1">
            <mat-label>Poder</mat-label>
            <input
              matInput
              type="text"
              formControlName="power"
              />
          </mat-form-field>


          <mat-form-field class="col-12 col-md-6 px-1">
            <mat-label>Identidad</mat-label>
            <input
              matInput
              type="text"
              formControlName="identity"
              />
          </mat-form-field>

          <mat-form-field class="col-12 col-md-6 px-1">
            <mat-label>Ciudad</mat-label>
            <input
              matInput
              type="text"
              formControlName="city"
              />
          </mat-form-field>

          <mat-form-field class="col-12 col-md-6 px-1">
            <mat-label>Estado</mat-label>
            <mat-select
              formControlName="status"
              >
              @for (status of superheroStatus; track status) {
                <mat-option [value]="status.val">{{status.val}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12 col-md-6 px-1">
            <mat-label>Url imagen</mat-label>
            <input
              matInput
              type="text"
              formControlName="imgUrl"
              />
          </mat-form-field>


        </form>

        <div class="d-flex justify-content-end">

          <button
            mat-flat-button
            color="primary"
            (click)="onSubmit()"
            >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 col-md-6">

    <mat-card>
      <img [src]="superheroForm.get('imgUrl')?.value | image | async" mat-card-image class="img-edit">
    </mat-card>

  </div>
</div>
